<br>
<div class="col-md-8 mx-auto" >
<article class="card card-outline mb-4">
  <div class="card-body">
    <h3 class="card-title">Blog Topics</h3>
  </div>
  <ul class="list-group list-group-flush">
    <%= render @topics %>
  </ul>
</article>
</div>
