<main class="main pt-4" role="main">
  <%= source_helper("alert alert-warning") %>
  <div class="container">
      <div class="row">
        <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      </div>
    </div>
  </div>
</main>