<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.png", width: 250, hieght: 400, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Thank you for taking the time to visit my portfolio site.
          It is a pleasure for me to be able to share with you some of my work and passions.
          I am a passionate programmer and technologist who is always seeking further understanding in the field of software development, computers and technology.</p>

        <p>I am forever grateful for the mentors who have helped guide and shape my journey as a developer.
          The seeds that you have sown into my future are timeless and I hope to return the favor to others along my way.
          Aside from programming and computers I also enjoy photography, traveling and the experience that comes with meeting people from cultures and backgrounds that differ from my own.
          I have a deep appreciation for the insight a new perspective can provide. I love music and enjoy playing guitar. I enjoy spending time with my family and my girlfriend,
          who have encouraged me through so much throughout the process of pursuing my passions. I would not be the man I am today without my faith and my God in whom I abide.
        </p>
    </div>
   </div>
  </div>
</div>