      <div class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">In order to fully understand something you must be able to put it into words. In order to ask a question you must first be able to form one.
          I marvel at the simplicity that lies below layers of abstraction. And I delight in communicating it to others so that they might also admire its eloquent beauty.</p>
        <p class="lead">
          <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </div>

