<div class="card-main">
  <h1 class="cover-heading">Tech News</h1>

  <div class="grid-container">
    <% @tweets.each do |tweet| %>
        <div class="grid-item">
          <div class="container">
            <%= twitter_parser tweet %>
          </div>
        </div>
    <% end %>
  </div>
</div>
